@tailwind base;
@tailwind components;
@tailwind utilities;


.link-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    /* transform-origin:right; */
    transition: transform 0.3s ease;
}

.link-underline:hover::before {
    transform: scaleX(1);
}

.img_shadow {
    box-shadow: 20px 20px #9c0450;
}